# Informações do projeto
site_name: Documentações Time de Script
site_url: https://Documentacoes-ti-script.com/docs
site_author: Gabriel Doré

# Configurações
theme:
  name: material

  # Conguração de corres
  palette: 
    # Modo Claro, Escuro e padrão do sistema
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-5
        name: Switch to system preference
  