/* Página inicial */
.md-typeset .grid{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; 
}

/* Imagem de fundo */
[data-md-color-scheme="default"] .md-content {
    background-image: url('../assets/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Home header Transparente (Para deixar bonitinho hehe) */
.md-header {
    background-color: rgba(0,0,0,0.2) !important; 
    backdrop-filter: blur(5px); 
}

/* Ajuste do título principal */
h1 {
    font-size: 3rem !important;
    font-weight: 700;
    margin-top: 100px;
    color: white !important;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Ajusta o Subtitulo */
p {
    font-size: 1.2rem;
    color: #f5f5f5;
    max-width: 800px;
    margin: 0 auto 2rem;
}
